<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Love TC 247.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EB0241C1C73F91300A2CC93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB024351C73F91400A2CC93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB024401C73F91400A2CC93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
